@import 'variables';
@import 'navigation';

::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
  margin: 0;
}

body {
  margin: 0;
  font-family: $body;
}

h1 {
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1em;
  font-size: 3em;
}

h3 {
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
  margin: 0;
}

p {
  color: $dark;
}

.sm-cap {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 -5px 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: $ease;
  color: $black;
  &:hover {
    text-decoration: underline;
  }
}

.a-white {
  border: 1px solid $white;
  color: $white;
  padding: 5px;
  &:hover {
    font-size: 1.05em;
    background: $white;
    color: $orange;
  }
}

button {
  outline: none;
  font-family: $body;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid $black;
  box-shadow: 1px 1px 2px rgba($black, 0.3);
  cursor: pointer;
  transition: $ease;
  &:hover {
    transition: $ease;
    transform: scale(1.05);
  }
}

.btn-primary {
  padding: 15px;
  background: $orange;
  border: none;
  color: $white;
}
.btn-white {
  padding: 15px;
  background: $white;
  border: none;
}
.btn-light {
  background: $light;
  padding: 15px;
}

//* HERO TOUT **//
.hero-container-mobile {
  display: none;
}

.hero-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: $redorange;
}
.hero-bg {
  width: 100%;
  position: absolute;
}

.hero--text {
  position: absolute;
  bottom: 2%;
  right: 2.3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  h3 {
    color: $white;
    width: 37%;
    margin-top: 1em;
    text-align: right;
    margin-right: 10px;
  }
  .hero--text-line {
    background: $white;
    width: 5%;
    height: 11px;
    margin-top: 2em;
  }
}

.hero--logo {
  width: 58%;
  #logo-main {
    width: 100%;
    margin-left: 0.9em;
    margin-bottom: -2em;
  }
}

.hero-video-container {
  position: relative;
  margin: 2em;
}

/* homepage hero video background */
#hero-video {
  width: 100%;
}

#video-btn {
  position: absolute;
  right: 1.7em;
  bottom: 0;
  background: none;
  border: 0;
  padding: 10px;
  cursor: pointer;
  color: $yellow;
  outline: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.75em;
  box-shadow: none;
}

/* WORK SECTION */

.work-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: $blue;
}
.bg-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
}
.work--title-box {
  width: 80%;
  height: 250px;
  margin-top: 50px;
}
.wave-lines {
  position: absolute;
  left: 0;
  top: -10px;
  width: 180px;
}
.orange-lightening {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
}
.work--title-box-line {
  background: $white;
  width: 10%;
  height: 12px;
  position: absolute;
  top: 140px;
  left: 0;
}

.work--title {
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 6em;
  line-height: 1em;
  padding-top: 30px;
  padding-left: 30px;
  font-weight: 800;
}
.work--title-taste {
  position: relative;
  color: $white;
}
.pink-circle {
  position: absolute;
  left: 10%;
  top: -25px;
  width: 1.7em;
}
#a-text {
  position: relative;
}
#taste-text {
  position: relative;
}

.work--title-other {
  position: relative;
  margin-left: 3.3em;
  margin-top: -0.5em;
  color: $redorange;
}

.work-video--grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  -ms-grid-columns: auto auto auto;
  grid-gap: 8%;
  width: 87%;
  height: 55%;
  max-width: 1300px;
  z-index: 1;
  margin-bottom: 150px;
}

.work-video--item {
  position: relative;
  height: 500px;
  transition: $ease;
  z-index: 0;
}
.work-video--thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  background: $black;
  overflow: hidden;
  z-index: 4;
}
.work-video {
  width: 100%;
}
.work-video-horizontal {
  object-fit: cover;
  height: 100%;
}

.work-video--textarea {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: $redorange;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 4;
  p,
  h3,
  button {
    margin-left: 7%;
  }
  .sm-cap {
    font-size: 2.5em;
    font-weight: 700;
    font-family: $header;
    letter-spacing: 0px;
    margin-left: -30px;
    margin-top: 70px;
  }
  p {
    margin-bottom: 5px;
    color: $blue;
  }
  .sm-cap span {
    background: $white;
    padding: 0 20px;
  }
  h3 {
    line-height: 1.3em;
    color: $white;
  }
  .wave-lines {
    margin-left: 100%;
    margin-top: 40%;
  }
}
.shape {
  position: absolute;
  z-index: 0;
}

.orange-circle {
  margin-left: 57%;
  margin-top: 95%;
  width: 65%;
}

.yellow-circle {
  margin-left: -20%;
  margin-top: 45%;
  width: 50%;
}

.work-video--details {
  margin-top: 10px;
  align-self: flex-start;
  padding: 20px;
  background: $yellow;
  font-family: $header;
  font-size: 1.8em;
  width: 75%;
  z-index: 4;
}

/* CLIENTS SECTION */
.clients-container {
  width: 100%;
  background: $pink;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.lightening-yellow {
  position: absolute;
  top: 0;
  right: -400px;
  height: 100%;
}
.circle-blue {
  position: absolute;
  top: -120px;
  right: -120px;
  width: 15%;
}
.rocket {
  position: absolute;
  bottom: 20%;
  right: -20px;
}
.thumbs-up {
  position: absolute;
  bottom: 5%;
  left: 30px;
  width: 80px;
}
.circle-yellow {
  position: absolute;
  width: 20%;
  top: 40%;
  left: -15%;
}
.circle-red {
  position: absolute;
  width: 12%;
  top: 55%;
  left: -5%;
}
.wave-lines2 {
  position: absolute;
  top: 53%;
  left: 0;
  width: 10%;
}
.clients--title-box {
  margin-top: 70px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .clients--line {
    background: $white;
    height: 12px;
    margin-left: 10px;
    width: 25%;
    margin-left: -10px;
  }
  .clients--title-text {
    margin-left: 30px;
    width: 60%;
    h1 {
      font-family: $header;
      letter-spacing: 1px;
      font-size: 6em;
      line-height: 1em;
      color: $redorange;
      span {
        color: $blue;
        position: absolute;
        margin-top: 40px;
        margin-left: 20px;
      }
    }
  }
  .clients--blank {
    width: 15%;
  }
}
.clients--grid-container {
  display: grid;
  width: 100%;
  justify-items: center;
}

.clients--grid {
  display: grid;
  z-index: 5;
  margin: 80px 0;
  width: 70%;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
}
.clients--grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
}
.client-logo {
  width: 75%;
}
.client-logo-sm {
  width: 50%;
}

#fb-logo {
  width: 40%;
}

/* SERVICES SECTION */

.services-container {
  width: 100%;
  overflow: hidden;
  background: $yellow;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5em;
  .orange-circle-sm {
    position: absolute;
    left: -5%;
    width: 15%;
    top: 20%;
  }
  .hashtag {
    position: absolute;
    top: 20%;
    left: 3%;
    width: 8%;
  }
  .lightening-white {
    position: absolute;
    top: 0;
    right: -37%;
    height: 100%;
  }
  .blue-circle {
    position: absolute;
    bottom: -13%;
    width: 25%;
    right: -10%;
    max-width: 350px;
  }
  .textbox {
    position: absolute;
    bottom: 5%;
    right: 2%;
    width: 8%;
  }
}

.services--title-box {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .services--line {
    background: $white;
    height: 12px;
    margin-left: 10px;
    width: 18%;
    margin-left: -10px;
    margin-top: 45px;
  }
  .services--title-text {
    margin-left: 30px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    h1 {
      font-family: $header;
      letter-spacing: 1px;
      font-size: 6em;
      line-height: 1em;
      color: $white;
    }
    .services--menu-text {
      margin-left: 30px;
      margin-top: 40px;
      text-align: right;
      h1 {
        color: $blue;
      }
      .sm-span-text {
        color: $redorange;
        font-size: 2.5em;
        font-family: $header;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
  .services--blank {
    width: 12%;
  }
}

.services--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 75%;
  column-gap: 3em;
  row-gap: 4em;
  max-width: 1300px;
  margin-top: 4em;
  z-index: 5;
  position: relative;
}

.services--item {
  overflow: hidden;
  cursor: pointer;
  height: 150px;
  background: $redorange;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  font-family: $header;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5em;
  font-weight: 700;
}
.item1 {
  background-image: url('../assets/shapes/bg-texture-red1.png');
}
.item2 {
  background-image: url('../assets/shapes/bg-texture-red2.png');
}
.item3 {
  background-image: url('../assets/shapes/bg-texture-red3.png');
}
.item4 {
  background-image: url('../assets/shapes/bg-texture-red4.png');
}

.modal,
.modal2,
.modal3,
.modal4 {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal {
  top: -80px;
  left: -60px;
}
.modal2 {
  top: -80px;
  right: -60px;
}
.modal3 {
  bottom: -80px;
  left: -60px;
}
.modal4 {
  bottom: -80px;
  right: -60px;
}
.modal-inner {
  background: $orange;
  background-image: url('../assets/shapes/bg-texture-light.png');
  max-width: 550px;
  padding: 1em;
  margin: auto;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  text-align: right;
  z-index: 5;
  #modal-close-btn {
    color: $white;
    cursor: pointer;
    border: 0;
    box-shadow: none;
    font-size: 1.4em;
  }
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  p {
    color: $white;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: left;
    font-weight: 700;
    padding: 0 1.2em;
  }
  h3 {
    text-align: right;
    color: $white;
  }
}

.modal2,
.modal3 {
  .modal-inner {
    background: $blue;
    background-image: url('../assets/shapes/bg-texture.png');
  }
}
// #modal-overlay {
//   width: 100%;
//   height: 100%;
//   position: fixed;
//   overflow: hidden;
//   top: 0;
//   left: 0;
//   z-index: 0;
//   background-color: black;
//   opacity: 0.5;
// }

.modal--title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.services--white-line {
  width: 75px;
  height: 8px;
  background: $white;
  margin-left: 10px;
  margin-right: -20px;
}

.services--details-box {
  margin-top: 1em;
  h3 {
    color: $blue;
  }
}

/* CONTACT SECTION */

.contact-container {
  width: 100%;
  background: $orange;
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 900px;
  max-height: 910px;
  background-image: url('../assets/shapes/bg-texture-light.png');
  .circle-red {
    width: 17%;
    top: 25%;
  }
  .waves-white {
    position: absolute;
    top: 37%;
    left: 6%;
    width: 12%;
  }
  .hashtag {
    width: 7%;
    left: 8%;
    top: 60%;
    position: absolute;
  }
  .circle-yellow {
    top: -12%;
    right: 3%;
    left: auto;
    width: 15%;
    position: absolute;
  }
  .lightening-red {
    position: absolute;
    right: -15%;
    width: 35%;
    top: -15%;
    max-width: 600px;
  }
  .textbox {
    position: absolute;
    width: 8%;
    top: 30%;
    right: 5%;
  }
}

.contact--title-text {
  margin-left: 30px;
  width: 70%;
  h1 {
    font-family: $header;
    letter-spacing: 1px;
    font-size: 6.4em;
    line-height: 1em;
    color: $white;
    span {
      color: $blue;
      position: absolute;
      margin-top: 40px;
      margin-left: 40px;
    }
  }
}

.contact--main {
  margin-top: 5em;
  width: 100%;
  height: 85%;
  position: relative;
}
.contact--chicken {
  position: absolute;
  width: 60%;
  bottom: 15%;
  height: 55vh;
  max-height: 570px;
  max-width: 950px;
  img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
.contact--contact-circle {
  width: 32%;
  right: 10%;
  top: 10%;
  position: absolute;
  max-width: 750px;
  img {
    width: 73%;
    right: 25%;
    bottom: 10%;
  }
  // a {
  //   &:hover {
  //     img {
  //       transform: scale(1.05);
  //       transition: transform 0.3s ease-in;
  //     }
  //   }
  // }
}

/* ABOUT PAGE */
.about-page {
  background: $yellow;
}
.about-container {
  background: $yellow;
  position: relative;
  overflow-x: hidden;
  .orange-circle {
    width: 13%;
    position: absolute;
    top: -10%;
    right: -2%;
    margin: 0;
  }
  .red-circle {
    position: absolute;
    top: 160%;
    left: -6%;
    width: 180px;
  }
  .waves-white {
    position: absolute;
    right: 35%;
    top: 52%;
  }
}
.lightening-pink {
  position: absolute;
  top: -10%;
  right: -32%;
  height: 2550px;
  z-index: 0;
}
.megaphone {
  position: absolute;
  right: 20%;
  top: 10%;
}
.zig-zag {
  position: absolute;
  width: 70px;
  left: 5%;
  top: 60%;
}
.zig-zag2 {
  position: absolute;
  right: 35%;
  top: 70%;
  width: 80px;
}
.zig-zag3 {
  position: absolute;
  right: 3%;
  top: 100%;
}
.waves-white2 {
  position: absolute;
  right: 22%;
  top: 150%;
}
.airplane {
  position: absolute;
  left: 3%;
  top: 150%;
}
.about--title-box {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  .about--line {
    background: $white;
    height: 12px;
    margin-left: 10px;
    width: 12%;
    margin-left: -10px;
    margin-top: 45px;
  }
  .about--title-text {
    margin-left: 30px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    h1 {
      font-family: $header;
      letter-spacing: 1px;
      font-size: 6em;
      line-height: 1em;
      color: $white;
    }
    .about--crispy-text {
      margin-left: -270px;
      margin-top: 90px;
      text-align: right;
      h1 {
        color: $orange;
      }
      .sm-span-text {
        color: $blue;
        font-size: 2em;
        font-family: $header;
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

.about-description {
  margin-left: 12%;
  width: 65%;
  margin-top: 3em;
  p {
    margin-left: 30px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .about-desc-blue {
    color: $blue;
  }
  .about-desc-redorange {
    color: $redorange;
  }
}

.founders-container {
  margin-left: 30px;
  margin-top: 3em;
  position: relative;
  height: 400px;
  h3 {
    color: $blue;
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }
}
.founders-flexbox {
  display: flex;
  position: absolute;
  z-index: 5;
  .about-item {
    margin-right: 2.5em;
  }
}
.about-item {
  p {
    margin: 0;
    text-transform: uppercase;
    font-family: $header;
    font-size: 1.7em;
    font-weight: 700;
  }
  .about-desc-blue {
    margin-top: 10px;
  }
  .about-desc-redorange {
    margin-top: -5px;
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
.about-img {
  width: 250px;
  height: 250px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.coop-container {
  position: relative;
  margin-left: 30px;
  margin-top: 3em;
  margin-bottom: 15em;
  h3 {
    color: $redorange;
    font-size: 2.5em;
    margin-bottom: 0.3em;
  }
}
.coop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  z-index: 5;
  position: absolute;
  grid-gap: 2.5em;
}
.about--contact-circle {
  width: 280px;
  margin-left: 40px;
  margin-top: -20px;
}

/*CONTACT PAGE */
.contact-page {
  background: $redorange;
}
.zig-zag-blue {
  position: absolute;
  top: 0;
  left: 0;
}
.star {
  position: absolute;
  right: 12%;
  top: 10%;
}
.lightening-blue {
  position: absolute;
  right: -28%;
  height: 115%;
  top: -4em;
}
.circle-orange {
  position: absolute;
  top: 38%;
  width: 15%;
  left: 45%;
}
.airplane-blue {
  position: absolute;
  bottom: 10%;
  left: 20%;
}
.yellow-circle2 {
  position: absolute;
  left: -13%;
  width: 20%;
  bottom: -10%;
}
.pink-circle2 {
  position: absolute;
  bottom: -15%;
  right: -10%;
}
.contact-page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .services--title-box {
    justify-content: flex-start;
    .services--title-text {
      h1 {
        font-size: 6.5em;
      }
    }
    .services--line {
      width: 40%;
    }
    .services--menu-text {
      margin-left: 10px;
      h1 {
        color: $yellow;
      }
    }
  }
}

/*------------- MEDIA QUERIES ------------- */
//large desktops

@media screen and (min-width: 1900px) {
  .hero-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .hero-video-container {
    position: relative;
    margin: 2em;
    overflow: hidden;
    min-width: 95%;
    min-height: 93%;
  }
  #hero-video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .hero--text {
    bottom: 0;
    right: 1.8%;
    h3 {
      font-size: 2.6em;
      margin-top: 1em;
      margin-right: 15px;
    }
    .hero--text-line {
      margin-top: 2.5em;
    }
  }
}

@media screen and (min-width: 2200px) {
  .hero--text {
    h3 {
      font-size: 3em;
    }
  }
}

@media screen and (max-width: 1400px) {
  .contact-container {
    min-height: 700px;
    max-height: 710px;
  }
  .lightening-pink {
    right: -35%;
    height: 2400px;
  }
  .about--title-box {
    .about--line {
      width: 8%;
    }
  }
  .about-description {
    margin-left: 8%;
  }
  .founders-flexbox {
    .about-item {
      margin-right: 1.8em;
    }
  }
  .about-img {
    width: 220px;
    height: 220px;
  }
  .coop-grid {
    grid-gap: 1.8em;
  }
  .about-item {
    font-size: 0.9em;
  }
}
// tablet size

@media screen and (max-width: 1200px) {
  .hero--logo {
    width: 55%;
    #logo-main {
      margin-bottom: -0.5em;
    }
  }
  .hero--text {
    justify-content: space-between;
    h3 {
      font-size: 1.5em;
      width: 40%;
      margin-top: 0;
      margin-right: 10px;
    }
    .hero--text-line {
      margin-top: 0;
      margin-right: 10px;
      height: 8px;
      width: 6%;
    }
  }
  .orange-lightening {
    right: -10%;
  }
  .work-video--grid {
    grid-gap: 5%;
  }

  .work-video--textarea {
    height: 50%;
  }
  .services-container {
    .lightening-white {
      right: -45%;
      height: 90%;
    }
  }
  .services--title-box {
    justify-content: flex-start;
    .services--title-text {
      margin-left: 10px;
      width: 90%;
      .services--menu-text {
        text-align: left;
        margin-left: 10px;
      }
    }
    .services--line {
      width: 12%;
    }
    .services--blank {
      width: 0;
    }
  }
  .about-container {
    .orange-circle {
      top: -3%;
      right: 0;
    }
    .waves-white {
      right: 25%;
    }
    .red-circle {
      top: 180%;
    }
  }
  .lightening-pink {
    right: -45%;
    height: 2600px;
  }
  .founders-flexbox {
    .about-item {
      margin-right: 2em;
    }
  }
  .coop-grid {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding-bottom: 6em;
  }
  .waves-white2 {
    right: 34%;
    top: 170%;
  }
  .lightening-blue {
    right: -35%;
  }
}

@media screen and (max-width: 1018px) {
  .hero--logo {
    width: 50%;
  }
  .hero--text {
    h3 {
      font-size: 1.4em;
      width: 45%;
    }
  }
  .work-video--grid {
    width: 92%;
  }
  .work--title-box {
    width: 90%;
    height: 200px;
  }
  .work--title {
    padding-left: 55px;
    font-size: 5em;
  }
  .work--title-box-line {
    width: 8%;
  }
  .work-video--textarea p {
    font-size: 1.7em;
  }
  .work-video {
    height: 100%;
    width: auto;
  }
  .clients--title-box {
    .clients--line {
      width: 18%;
    }
  }

  .clients--title-box {
    .clients--title-text {
      h1 {
        font-size: 5em;
      }
    }
  }
  .lightening-yellow {
    right: -300px;
  }
  .circle-blue {
    top: -70px;
    right: -70px;
  }
  .services--title-box {
    .services--title-text {
      h1 {
        font-size: 5em;
      }
    }
  }
  .services--item {
    font-size: 2.1em;
  }
  .services-container {
    .lightening-white {
      right: -55%;
      height: 90%;
    }
  }
  .contact-container {
    min-height: 600px;
    max-height: 610px;
  }
  .contact--chicken {
    bottom: 20%;
  }
  .contact--title-text {
    h1 {
      font-size: 5em;
      span {
        margin-left: 15px;
      }
    }
  }
  .about-container {
    .red-circle {
      top: 155%;
    }
  }
  .lightening-pink {
    right: -57%;
  }
  .airplane {
    left: 1%;
    top: 140%;
    z-index: 6;
  }
  .waves-white2 {
    right: 22%;
    top: 165%;
  }
  .about-container {
    .red-circle {
      width: 150px;
      top: 180%;
    }
    .waves-white {
      right: 15%;
    }
  }
  .megaphone {
    right: 8%;
    top: 18%;
  }
  .zig-zag2 {
    right: 23%;
  }
  .contact-page-container {
    .services--title-box {
      .services--line {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .about--title-box {
    .about--title-text {
      width: 100%;
      h1 {
        font-size: 5em;
      }
      .about--crispy-text {
        margin-left: -225px;
      }
    }
  }
  .lightening-pink {
    right: -60%;
  }
  .lightening-blue {
    right: -45%;
  }
  .contact-page-container {
    .services--title-box {
      .services--line {
        height: 10px;
        margin-top: 40px;
      }
      .services--title-text {
        h1 {
          font-size: 5em;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .hero--logo {
    width: 65%;
    margin-left: 10px;
    margin-bottom: -1.8em;
  }
  .hero--text {
    display: block;
    .hero--text-line {
      display: none;
    }
    h3 {
      text-align: left;
      width: 100%;
      margin-left: 38%;
      margin-bottom: 1em;
    }
  }
  .work--title-box {
    width: 100%;
  }
  .work--title-box-line {
    top: 120px;
  }
  .work--title {
    font-size: 4.4em;
    padding-left: 70px;
  }
  .work-video--grid {
    width: 70%;
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    grid-gap: 2%;
    margin-bottom: 200px;
  }
  .work-video {
    width: 100%;
    height: auto;
  }
  .work-video--item {
    height: 700px;
  }
  .work-video--textarea {
    height: 40%;
  }
  .orange-lightening {
    display: none;
  }
  .clients--title-box {
    .clients--line {
      width: 20%;
    }
  }
  .clients--title-box {
    .clients--title-text {
      margin-left: 20px;
      width: 90%;
    }
  }
  .clients--grid {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
  }
  .lightening-yellow {
    right: -710px;
  }
  .circle-yellow {
    width: 27%;
    top: 45%;
  }
  .circle-blue {
    width: 20%;
  }
  .circle-red {
    width: 20%;
    left: -10%;
  }
  .wave-lines2 {
    width: 18%;
  }
  .services--title-box {
    .services--title-text {
      display: block;
      .services--menu-text {
        margin-top: 0;
        margin-left: 150px;
      }
    }
  }
  .services-container {
    .lightening-white {
      right: -65%;
    }
  }
  .contact--title-text {
    h1 {
      span {
        margin-top: 80px;
        margin-left: -200px;
      }
    }
  }
  .contact-container {
    min-height: 550px;
    max-height: 550px;
  }
  .coop-grid {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
    padding-bottom: 0;
  }
  .lightening-pink {
    right: -90%;
    height: 3300px;
  }
  .about-container {
    .red-circle {
      top: 230%;
    }
    .waves-white {
      right: 7%;
    }
  }
  .waves-white2 {
    right: 5%;
    top: 190%;
  }
  .airplane {
    top: 180%;
  }
}
@media screen and (max-width: 770px) {
  .lightening-pink {
    right: -100%;
  }
  .about-container {
    .waves-white {
      right: 0;
      width: 180px;
    }
  }
}
@media screen and (max-width: 740px) {
  .lightening-pink {
    right: -110%;
  }
  .about-container {
    .red-circle {
      top: 180%;
    }
  }
  .megaphone {
    top: 25%;
  }

  .lightening-blue {
    right: -55%;
  }
}

//phone size
@media screen and (max-width: 650px) {
  .hero-container {
    display: none;
  }
  .hero-container-mobile {
    width: 100%;
    height: 100vh;
    background: url('/assets/cc-hero-mobile.png');
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
    display: block;
  }
  .work--title-box {
    height: 230px;
  }
  .work--title-other {
    margin-left: 0;
    margin-top: 0.1em;
  }
  .work-video--item {
    height: 500px;
  }
  .work-video--grid {
    grid-gap: 5%;
    margin-bottom: 300px;
  }
  .clients--title-box {
    .clients--title-text {
      h1 {
        span {
          position: relative;
        }
      }
    }
  }
  .clients--title-box {
    .clients--title-text {
      width: 60%;
    }
  }
  .services-container {
    .lightening-white {
      right: -115%;
      height: 80%;
    }
  }
  .services--grid {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }
  .services--title-box {
    .services--line {
      width: 20%;
    }
    .services--title-text {
      .services--menu-text {
        margin-top: 0;
        margin-left: 50px;
      }
    }
  }
  .modal {
    top: -70px;
    left: 0;
  }
  .modal2 {
    right: 0;
    top: 50px;
  }
  .modal3 {
    left: 0;
    top: 200px;
  }
  .modal4 {
    right: 0;
    bottom: -100px;
  }
  .contact--title-text {
    margin-left: 10px;
    h1 {
      span {
        margin-left: -270px;
      }
    }
  }
  .contact--chicken {
    width: 80%;
  }
  .contact--contact-circle {
    width: 35%;
    right: -4%;
    top: 20%;
  }
  .contact-container {
    .waves-white {
      left: 2%;
      width: 20%;
      top: 30%;
    }
    .hashtag {
      width: 15%;
    }
    .textbox {
      width: 12%;
    }
  }
  .lightening-pink {
    right: -120%;
  }
  .megaphone {
    top: 22%;
    width: 100px;
  }
  .about-description {
    width: 80%;
  }
}

@media screen and(max-width:600px) {
  .about-container {
    .red-circle {
      top: 220%;
    }
  }
  .about--title-box {
    .about--line {
      width: 12%;
    }
    .about--title-text {
      margin-left: 0;
      margin-top: 12px;

      h1 {
        font-size: 4em;
      }
      .about--crispy-text {
        text-align: left;
        margin-top: 70px;
        margin-left: -180px;
      }
    }
  }
  .about-description p {
    margin-left: 14px;
  }
  .founders-container {
    margin-left: 12px;
  }
  .coop-container {
    margin-left: 12px;
  }
  .airplane {
    top: 185%;
    width: 100px;
  }
  .megaphone {
    top: 18%;
  }
  .lightening-pink {
    right: -125%;
  }
  .lightening-blue {
    right: -70%;
  }
  .star {
    top: 20%;
  }
}

@media screen and (max-width: 550px) {
  .services-container {
    .lightening-white {
      height: 70%;
      right: -130%;
    }
  }
  .contact--title-text {
    h1 {
      span {
        margin-left: 0;
        margin-top: 0;
        display: block;
      }
    }
  }
  .contact--chicken {
    bottom: 40%;
    z-index: 1;
  }
  .lightening-pink {
    display: none;
  }

  .coop-grid {
    padding-bottom: 3em;
  }
  .about-container {
    .red-circle {
      top: 200%;
    }
  }
  .about-item {
    .about-desc-blue {
      margin-bottom: 5px;
      line-height: 1.2em;
      margin-top: 5px;
    }
  }
  .about-img {
    width: 180px;
    height: 180px;
  }
  .about-description p {
    margin-left: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 495px) {
  .hero-container-mobile {
    height: 620px;
    background-size: cover;
  }
  .work--title-box-line {
    width: 15%;
    height: 8px;
    top: 110px;
  }

  .work--title-box {
    height: 280px;
    font-size: 0.9em;
  }
  .work-video--thumbnail {
    height: 50%;
  }
  .work-video {
    width: auto;
    height: 100%;
  }
  .work-video--textarea {
    height: 50%;
    .sm-cap {
      margin-top: 15px;
      font-size: 2em;
    }
    h3 {
      font-size: 1.7em;
    }
    p {
      font-size: 1.3em;
    }
  }
  .work-video--details {
    width: 85%;
  }
  .megaphone {
    top: 14%;
  }
  .about-description {
    width: 90%;
    .about-desc-blue,
    .about-desc-redorange {
      margin-left: 12px;
    }
  }
  .clients--title-box {
    .clients--title-text {
      width: 100%;
      font-size: 0.8em;
      h1 {
        span {
          margin-left: 0;
        }
      }
    }
    .clients--line {
      width: 20%;
      height: 8px;
      margin-left: 0;
    }
  }
  .clients--blank {
    display: none;
  }
  .clients--grid {
    width: 90%;
    margin: 50px 0 80px 0;
  }
  .thumbs-up {
    bottom: 3%;
    width: 70px;
  }
  .rocket {
    top: 22%;
    width: 120px;
  }
  .services-container {
    .lightening-white {
      height: 50%;
      right: -140%;
      top: 30%;
    }
    .orange-circle-sm {
      width: 30%;
      top: 25%;
    }
    .hashtag {
      width: 20%;
      top: 23%;
    }
    .textbox {
      width: 20%;
      bottom: 2%;
    }
  }
  .services--title-box {
    .services--line {
      width: 20%;
      height: 8px;
      top: 110px;
    }
    .services--title-text {
      font-size: 0.8em;
      h1 {
        font-size: 4em;
      }
      .services--menu-text {
        text-align: left;
        margin-left: 3px;
        h1 {
          margin-left: 3px;
        }
        .sm-span-text {
          font-size: 2em;
          margin-left: 6px;
        }
      }
    }
  }
  .services--grid {
    margin-top: 2.5em;
    row-gap: 2em;
  }
  .services--item {
    font-size: 1.5em;
    height: 110px;
  }
  .modal-inner {
    padding: 0 0.5em;
    p {
      font-size: 1em;
      margin-top: 0;
    }
    #modal-close-btn {
      margin-top: 10px;
    }
  }
  .modal--title {
    font-size: 0.6em;
    margin-bottom: 1.5em;
    .services--white-line {
      height: 5px;
      width: 55px;
    }
  }
  .services--details-box {
    margin-top: 2.5em;
  }
  .contact--title-text {
    font-size: 0.75em;
  }
  .contact--chicken {
    display: none;
  }
  .contact--contact-circle {
    position: relative;
    width: 95%;
    margin-left: 10%;
    top: 5%;
  }
  .contact-container {
    .textbox {
      width: 20%;
      top: 25%;
    }
  }
  .founders-container {
    height: 800px;
  }
  .founders-flexbox {
    flex-direction: column;
    .about-item {
      margin-top: 1.5em;
    }
  }
  .coop-grid {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
  }
  .lightening-blue {
    right: -95%;
  }
  .pink-circle2 {
    bottom: -20%;
  }
  .nav--main-list {
    align-items: center;
    text-align: center;
    margin-top: 75px;
  }
  .about-container {
    .red-circle {
      display: none;
    }
  }
  .about--title-box {
    position: relative;
    .about--line {
      width: 16%;
      height: 10px;
      margin-top: 30px;
    }
    .about--title-text {
      display: block;
      margin-left: 0;
      margin-top: 0;
      .about--crispy-text {
        margin-left: 0;
        margin-top: 0;
      }
    }
    .megaphone {
      position: relative;
      margin-top: 20%;
    }
  }
  .about-description {
    width: 85%;
  }
  .about-item {
    .about-desc-blue {
      margin-left: 0;
    }
    .about-desc-redorange {
      margin-left: 0;
    }
  }
  .about-img {
    width: 250px;
    height: 250px;
  }
  .about--contact-circle {
    width: 250px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .coop-container {
    margin-top: 0;
  }
  .contact-page-container {
    .star {
      width: 50px;
    }
    .services--title-box {
      .services--line {
        height: 8px;
        margin-top: 40px;
      }
      .services--title-text {
        h1 {
          font-size: 4em;
        }
      }
    }
  }
}
